services:
  db:
    image: mysql:8
    container_name: mysql
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: imovies
    volumes:
      - ./db:/docker-entrypoint-initdb.d