<!DOCTYPE html>
<html lang="en">
  <head>
    <title>iMovie</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/node-forge@1.0.0/dist/forge.min.js"></script>
  </head>
  <body class="container-fluid d-flex flex-column m-4 gap-4 align-items-center">
    {% block content %} {% endblock %}
    {% block scripts %} {% endblock %}
  </body>
</html>
