

{% extends "base_login.html" %} {% block login_content %}
<label for="cert">Upload Certificate:</label>
<input type="file" name="cert" id="cert" placeholder="Certificate" />
<button id="submit">Submit</button>
{% endblock %} {% block scripts %}
<script>
  function readFile(file) {
    return new Promise((resolve, reject) => {
      let reader = new FileReader();

      reader.onload = () => {
        var p12Der = arrayBufferToString(reader.result);
        var p12Asn1 = forge.asn1.fromDer(p12Der);
        var p12 = forge.pkcs12.pkcs12FromAsn1(p12Asn1);
        var bags = p12.getBags({ bagType: forge.pki.oids.certBag });
        var cert = bags[forge.pki.oids.certBag][0].cert;
        serial = cert.serialNumber;

        var keyBags = p12.getBags({
          bagType: forge.pki.oids.keyBag,
        });
        var keyBag = keyBags[forge.pki.oids.keyBag][0];

        privateKey = keyBag.key;

        resolve({
          key: privateKey,
          serial: serial,
        });
      };

      reader.onerror = reject;

      reader.readAsArrayBuffer(file);
    });
  }
  document.getElementById("submit").addEventListener("click", () => {
    let file = document.getElementById("cert");
    submit_cert(file.files[0]);
  });
  <!-- function from: https://stackoverflow.com/questions/36018233/how-to-load-a-pkcs12-digital-certificate-with-javascript-webcrypto-api -->
  function arrayBufferToString(buffer) {
    var binary = "";
    var bytes = new Uint8Array(buffer);
    var len = bytes.byteLength;
    for (var i = 0; i < len; i++) {
      binary += String.fromCharCode(bytes[i]);
    }
    return binary;
  }

  async function submit_cert(file) {
    var result;
    try {
      result = await readFile(file);
    } catch (e) {
      console.log(e);
    }
    let privateKey = result.key;
    let serial = parseInt(result.serial, 16);
    fetch("/get_challenge", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ serial: serial }),
    }).then((response) => {
      response.json().then((data) => {
        let challenge = data.challenge;
        var md = forge.md.sha256.create();
        md.update(challenge, "utf8");
        var signature = result.key.sign(md, "RSASSA-PKCS1-V1_5");
        fetch("/solve_challenge", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            signature: forge.util.encode64(signature),
            serial: serial,
          }),
        })
          .then((response) => {
            return response.json();
          })
          .then((response) => {
            if (response["verified"]) {
              window.location.replace("/profile");
            } else {
              window.location.replace("/login_cert?error=True");
            }
          });
      });
    });
  }
</script>
{% endblock %}
